body{
    font-size: 18px;
    font-family: 'Arial, Helvetica, sans-serif' ;
}
div.container{
    width:800px;
    margin:auto;
}

h1, h2{
    letter-spacing: -2px;
}

nav{
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 2px  solid #eee;
    background: #f7f7f7 ;   
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
margin: 0 10px;
display: inline;
font-weight: bold;
}

nav ul li a{
    text-decoration: none;
    color: blue;
}

nav ul li a.active{
   border-bottom: 2px solid rgb(175, 99, 0);
    color: rgb(175, 99, 0);
}

nav ul li a:hover{
    color: red;
}

main p{
color: #333;
}

footer{
    border-top: 2px solid #eee;
    text-align: center;
}

div.load{
    text-align: center;
   
}
 